
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
      <ul class="navbar-nav ml-auto flex-nowrap">
        {% for item in site.data.navigation %}
            <li {% if page.url == item.link %}class="nav-item active"{% else
             %}class="nav-item"{% endif %}>
              <a href="{{ item.link |  prepend: site.baseurl}}" class="nav-link">{{ item.name }}</a>
            </li>
        {% endfor %}
      </ul>
    </div>
<!-- <a href="{{ '/' }}" class="stretched-link"></a> -->
  </div>
</nav>
