---
---
@import "main";

/* Links */
a,
a:focus,
a:active,
 {
  color: #08519c;
}
a:hover {
	color: #6baed6;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: $font-family-sans-txt;
}

.inner, .cover-container {
  max-width: 60em;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  top: -rem;

}
.cover .btn-lg {
  padding: 0 1.25rem;
  font-weight: 700;

}


/*
 * Footer
 */
.mastfoot {
  color: $gray-400;
}



// --------- Main changes

h1, h2 {
  font-family: $font-family-sans-serif;
  font-size: 3rem;
  text-align: left;
  padding: 2rem 0;
}
 h2 {
  font-size: 2.5rem;
}

.jumbotron,
.jumbotron h1 {
  text-align: center;
}

main > .container a {
  text-decoration: underline;
}

#toTop {
  position: fixed;
  bottom: 1.8rem;
  right: 1.2rem;
  cursor: pointer;
  display: none;
}

.navbar {
	height: 7rem;
    padding-bottom: 0;
}

.logo {
  background-image: url("../images/arbor-lines-proto-colour-full.svg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: auto;
  padding: 0;
  position: relative;
  top: 1rem;
  display: block;
  width: 100%;
  height: 3.8rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 1100;
}

.navbar-nav {
  position: relative;
  bottom: -2.8rem;
  padding-right: 4rem;
}



.subnav {
  margin: 4em auto 0 auto;
}

.navbar-expand-lg {
    flex-flow: wrap;
    justify-content: flex-start;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #d86310;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link{
    color: #a53c00;
    font-weight: bold;
}

.sticky-top {
  position: sticky;
  top: 6em;
  z-index: 1020;
}

main .jumbotron {
    padding-top: 10rem;
    padding-bottom: 6rem;
}

.navbar > .container button {
	cursor: pointer;
	z-index: 1000000;
}

.navbar > .container .stretched-link {
	cursor: default;
}

.card-columns .card {
	padding: 0;
}

pre.highlight {
 padding-left: 1.5rem;
 color: #888;
}

.news {
	margin-bottom: 1.5rem;
}

@media (max-width: 982px) {
	.navbar {
		height: 120px;
	}
	.navbar-nav {
      bottom: -1rem;
    }
	.logo {
        background-image: url("../images/arbor-lines-proto-colour.svg");
		background-position: 50% center;
		background-repeat: no-repeat;
		background-size: inherit;
		float: right;
		width: 50%;
    }
	#navbarToggler.text-right {
      text-align: left !important;
    }
    #navbarToggler.text-right li {
      margin-right: 1.2rem;
    }
    .jumbotron {
	    padding-top: 6rem;
	}
	.navbar > .container {
		position: relative;
		bottom: 0.5rem;
	}
	.navbar > .container button {
		z-index: 10000;
	}
}

@media (min-width: 982px) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
  #navbarToggler.text-right {
    text-align: left !important;
  }
  #navbarToggler .navbar-nav {
    margin-bottom: 2.5rem;
  }
  .navbar {
    height: 7rem;
  }
}

