<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{'./res/arbor-lines-proto-colour-notext.svg' | relative_url }}">
    <link rel="stylesheet" href="{{'./res/mvp-arbor.css' | relative_url }}">
    <link rel="stylesheet" href="{{'./font-awesome/css/font-awesome.min.css' | relative_url }}">
    <meta charset="utf-8">
    <meta name="description" content="Arbor">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if page.title %}{{ page.title }} | {% endif %}Arbor</title>
</head>

<body>
    <header>
        <nav>
            <a href="https://arbor-sim.org" style="filter:none"><img alt="Logo" src="{{'./res/arbor-lines-proto-colour-full.svg' | relative_url }}" height="70"></a>
            <ul>
                <li><a href="{{'./about' | relative_url }}">About</a></li>
                <li><a href="{{'./news' | relative_url }}">News</a></li>
                <li><a href="{{'./collaboration' | relative_url }}">Collaborations</a></li>
                <li><a href="https://docs.arbor-sim">Documentation &nearr;</a></li>
                <li><a href="https://www.github.com/arbor-sim/arbor/"><!--<span class="fa fa-github fa-lg"></span> -->GitHub &nearr;</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
        <hr>
        <p>
            <small>Copyright {{ site.time | date: '%Y' }}. Arbor is a high-performance library for computational neuroscience simulations, being developed in work package 7.5.4 of the <a href="https://www.humanbrainproject.eu">Human Brain Project</a>.
            <br>
            The development team is based in: <a href="https://www.cscs.ch">Swiss National Supercomputing Center</a> (CSCS) and <a href="https://www.fz-juelich.de/ias/jsc/EN/">Jülich Supercomputing Centre</a> (JSC)</small>
        </p>
    </footer>
</body>

</html>
